---
# services/images_builder/tasks/main.yml

- name: Install packages for image builder
  ansible.builtin.apt:
    pkg:
      - rsync
    update_cache: "{{ cv.prod }}"
    install_recommends: no
    state: present
  become: true

- name: Write build ssh key
  ansible.builtin.copy:
    content: "{{ cv.build.ssh.pri }}"
    dest: /home/{{ ansible_env.USER }}/.ssh/id_ed_build
    mode: 0600

- name: Write container registry password
  ansible.builtin.copy:
    content: "{{ cv.ctr.password }}"
    dest: /home/{{ ansible_env.USER }}/.config/.otvl/.secrets/ctr_password
    mode: 0600

- name: Loop over repositories to synchronize
  include_tasks: synchronize_repository.yml
  loop:
  - otvl_dvoptls
  - otvl_blog
  - otvl_adq
  loop_control:
    loop_var: current_item

- name: Create secrets dir on build server
  block:
    - command:
        cmd: "ssh -i /home/{{ ansible_env.USER }}/.ssh/id_ed_build -o StrictHostKeyChecking=no {{ cv.build.ssh.user }}@{{ cv.build.vm }} mkdir -p .config/.otvl/.secrets"
      register: rccs
    - debug: var=rccs.cmd
    - debug: var=rccs.stderr_lines
    - debug: var=rccs.stdout_lines

- name: Synchronize secrets
  ansible.posix.synchronize:
    src: "/home/{{ ansible_env.USER }}/.config/.otvl/.secrets/ctr_password"
    dest: "{{ cv.build.ssh.user }}@{{ cv.build.vm }}:.config/.otvl/.secrets/ctr_password"
    private_key: "/home/{{ ansible_env.USER }}/.ssh/id_ed_build"

- name: Wait for DNS update for CTR FQDN
  block:
    - debug:
        msg: "python3 /home/{{ ansible_env.USER }}/locgit/otvl_dvoptls/pynsutil/wait_ns.py -l {{ ci_env.CI_LHN }}-ext -n {{ cv.ctr.ingress_host }}"
    - command:
        cmd: "python3 /home/{{ ansible_env.USER }}/locgit/otvl_dvoptls/pynsutil/wait_ns.py -l {{ ci_env.CI_LHN }}-ext -n {{ cv.ctr.ingress_host }}"
      register: wdns
    - debug: var=wdns.cmd
    - debug: var=wdns.stderr_lines
    - debug: var=wdns.stdout_lines

- name: Wait for letencrypt cert ready for CTR
  block:
    - debug:
        msg: "python3 /home/{{ ansible_env.USER }}/locgit/otvl_dvoptls/pynsutil/wait_cert.py -u https://{{ cv.ctr.ingress_host }}"
    - command:
        cmd: "python3 /home/{{ ansible_env.USER }}/locgit/otvl_dvoptls/pynsutil/wait_cert.py -u https://{{ cv.ctr.ingress_host }}"
      register: wctr
    - debug: var=wctr.cmd
    - debug: var=wctr.stderr_lines
    - debug: var=wctr.stdout_lines


- name: Loop over images to build
  include_tasks: build_image.yml
  loop:
  - image: "{{ cv.ows_apache_image }}"
    do_build: "{{cv.ows_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/ows_apache
  - image: "{{ cv.ows_sync_image }}"
    do_build: "{{cv.ows_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/ows_sync
  - image: "{{ cv.dv_ops.image }}"
    do_build: "{{cv.dv_ops_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/dv_ops
  - image: "{{ cv.dv_dev_tools.image }}"
    do_build: "{{cv.dv_ops_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/dv_dev_tools
  - image: "{{ cv.k8s_clients.image }}"
    do_build: "{{cv.ide_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/k8s_clients
  - image: "{{ cv.theia.image.name }}:{{ cv.theia.image.version }}"
    do_build: "{{cv.dv_theia_build | default(false) }}"
    dkb_cmd_dir: theia-ide
  - image: "{{ cv.dv_ide.image.name }}:{{ cv.dv_ide.image.version }}"
    do_build: "{{cv.ide_build | default(false) }}"
    dkb_cmd_dir: otvl_dvoptls/docker/dv_cs
    dkb_add_args: "--build-arg CSV={{ cv.dv_ide.image.upstream_version }} --build-arg K8S_CLIENTS_IMAGE={{ cv.ctr.ingress_host }}/{{ cv.k8s_clients.image }} --build-arg DV_DEV_TOOLS_IMAGE={{ cv.ctr.ingress_host }}/{{ cv.dv_dev_tools.image }}"
  loop_control:
    loop_var: current_item
