- hosts: all
  gather_facts: False
  tasks:
  - name: Load default variables
    include_vars:
      dir: vars
  - name: Combine default with inventory variables
    set_fact:
      cv: "{{ dv | combine(iv, recursive=True) }}"
  - name: Check vars
    include_role:
      name: commons
      tasks_from: check_vars
  tags: always

- hosts: all
  gather_facts: True
  become: false
  tasks:
  - name: Define var for non-root remote_user
    set_fact:
      remote_user_home: "{{ ansible_env.HOME }}"
  tags: always

- hosts: all
  gather_facts: False
  become: true
  roles:
    - hostconfig
  tags: hc

- hosts: docker_run_group
  gather_facts: False
  become: true
  roles:
    - docker/run

- hosts: sk3s_group
  gather_facts: False
  become: true
  roles:
    - k8s_client
  tags: k8s

- hosts: sk3s_group
  gather_facts: False
  become: true
  roles:
    - sk3s_node
    - nerdctl
  tags: k3s

- hosts: sk3s_group
  gather_facts: False
  become: false
  roles:
    - role: roles/cert_manager
      when: otvl_meta.k3s_server | default(false)
  tags: cm

- hosts: sk3s_group
  gather_facts: False
  become: false
  roles:
    - role: roles/services/ctr
      when: otvl_meta.k3s_server | default(false)
  tags: ctr

- hosts: images_builder_group
  gather_facts: False
  become: false
  roles:
    - services/images_builder
  tags: ib

- hosts: build_server_group
  gather_facts: False
  become: true
  roles:
    - services/images_builder/server
  tags: bs

- hosts: sk3s_group
  gather_facts: False
  become: false
  roles:
    - role: roles/services/otvl_web/sync_server
      when: otvl_meta.ows_synchro | default(false)
    - role: roles/services/otvl_web
      when: otvl_meta.ows_server | default(false)
  tags: ows

- hosts: sk3s_group
  gather_facts: False
  become: false
  roles:
    - role: roles/services/dv_ide/user_login
      when: otvl_meta.k3s_server | default(false)
    - role: roles/services/dv_ide/user_home
      when: otvl_meta.k3s_server | default(false)
    - role: roles/services/dv_ide
      when: otvl_meta.dv_ide | default(false)
  tags: dv
